{% extends "base.html" %}

{% block title %}재홍이의 홈페이지{% endblock %}

{% block content %}
   <li><a href="/Join">join</a></li>
   <li><a href="/login_page">login</a></li>
   <li><a href="/logout">logout</a></li>
   <li><a href="/user">user</a></li>
   <li><a href="/photo">photo</a></li>
   <li><a href="/admin">admin</a></li>
   <li><a href="/sendMessage">sendMessage</a></li>

    <li>mobileLogin</li>
    <form action="/mobileLogin/" method="POST" >
        userId<input type="text" name="newUserId" value="" >
        userPassword<input type="text" name="newUserPassWord" value="" >
        accessToken<input type="text" name="accessToken" value="" >
        <input type="submit">
    </form>

    <li>mobileRegister</li>
    <form action="/mobileRegister/" method="POST" >
        <input type="text" name="newUserId" value="" >
        <input type="text" name="newUserPassWord" value="" >
        <input type="submit">
    </form>

    <li>auction</li>
    <form action="/auction/" method="POST" >
        <input type="text" name="accessToken" value="" >
        <input type="text" name="onclick" value="" >
        <input type="text" name="url" value="" >
        <input type="submit">
    </form>

    <li>fbLogin</li>
    <form action="/fbLogin/" method="POST" >
        <input type="text" name="newUserId" value="" >
        <input type="text" name="newUserPassWord" value="" >
        <input type="text" name="accessToken" value="" >
        <input type="submit">
    </form>

{% endblock %}