{% extends "base.html" %}

{% block title %}재홍이의 홈페이지{% endblock %}

{% block content %}
   <li><a href="/Join">join</a></li>
   <li><a href="/login_page">login</a></li>
   <li><a href="/logout">logout</a></li>
   <li><a href="/user">user</a></li>
   <li><a href="/photo">photo</a></li>


    <form action="/mobileLogin/" method="POST" >
        <input type="text" name="newUserId" value="jh" >
        <input type="text" name="newUserPassWord" value="1111" >
        <input type="submit">
    </form>
{% endblock %}